.footer{
    margin-top: auto;
    background-color: #000000;
    color: white;
    height: 50px;
    text-align: center;
}

.footer-text{
    margin-top: 15px;
    font-family: 'Varela Round', sans-serif;
}
