.header{
    margin-top: 60px;

}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444
}

.headerTitleSm{
    position: absolute;
    top: 10%;
    font-size: 20px;
}

.headerTitleLg{
    position: absolute;
    top: 13%;
    font-size: 60px;
}

.headerImg{
    width: 100%;
    height: 400px;
    margin-top: 80px;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .header {
        display: none;
    }
    .headerTitleSm{
        display: none;
    }
    
    .headerTitleLg{
        display:none
    }

    .headerImg{
        width: 100%;
        height: 250px;
        margin-top: 45px;
        object-fit: cover;
        display: none;
    }
}


@media screen and (max-width: 600px) {

    .headerImg{
        width: 100%;
        height: 150px;
        margin-top: 60px;
        object-fit: cover;
    }
}