.contact-wrap{
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
    padding: 40px;
    background-color: #FDFBFB;
    display: flex;
    flex-direction: column;
}

.contact-heading {
    text-align: center;
    align-self: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Varela', sans-serif;
    border-bottom: 1px solid;
    border-top: 1px solid;
    width: 80px;
}

.contact-text{
    font-family: 'Varela', sans-serif;
}

.contact-text::first-letter{
    
    font-size: 23px;
}

.contact-text > a{
    text-decoration: none;
    color: rgb(66, 186, 255)
}


@media screen and (max-width:900px) {
    .contact-wrap{
        width: 280px;
        margin-top: 20px;
        font-size: 15px;
    }
    
    .contact-text{
        font-size: 10px;
    }

    .contact-text::first-letter{
        
        font-size: 12px;
    }
}